# Server
PORT=5000
NODE_ENV=development

# MongoDB — remplace par ton URI Atlas en production
MONGODB_URI=mongodb://localhost:27017/careerboard

# JWT
JWT_SECRET=change_this_to_a_long_random_string_in_production
JWT_EXPIRE=7d

# Frontend URL (CORS)
CLIENT_URL=http://localhost:5173
